*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0 auto;
    width:100%;
    background-image: url(350.jpg) ;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 200px;
}
.index_01{
    background-color:#363e53;
    /* overflow: auto; */
    width:40%;
    height: 500px;
    float: right;
    margin-bottom: 240px;

  
}
#p_01{
    font-size: 40px;
    color: aliceblue;
    margin: 50px;
}
#i_01{
    width: 550px;
    height: 40px;
    margin: 20px;
}
#i_02{
    width: 550px;
    height: 30px;
    margin: 20px;
    background: yellow;
}
#s_01 a{
    color: aliceblue;
    font-size: 10px;
    text-decoration: none;
    float: left;
    margin-left: 20px;
}
#s_02{
    float: right;
    font-size: 10px;
    color: aliceblue;
    margin-right: 20px;
}
#s_02 a{
    color: yellow;
    font-size: 10px;
    text-decoration: none;
}
.index_02{
    margin-top: 220px;
    float: left;
}
#p_03{
    font-size: 30px;
    margin-left: 70px;
}
#p_04{
    font-size: 30px;
    margin-left: 130px;
}